fastapi
uvicorn[standard]
pydantic
pydantic-settings

psycopg2-binary
sqlalchemy
httpx
beautifulsoup4

openai
unsloth
transformers
datasets
accelerate
peft
bitsandbytes

pip-tools
python-dotenv

pre-commit
ruff
